<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sucaisheng.demo.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.sucaisheng.demo.enty.User">
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getUser" resultMap="BaseResultMap">
		SELECT user_id,user_name,pwd
		FROM sys_user WHERE user_id=#{user_id}
	</select>

	<insert id="insertUser" parameterType="com.sucaisheng.demo.enty.User">
		Insert into sys_user
		(user_id,user_name,pwd)
		VALUES(
		#{userId},#{userName},#{pwd})
	</insert>

</mapper>